{% extends "jeux/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<form method='post' novalidate>
    {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.nom|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.prenom|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.date_entr|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.genre|as_crispy_field }}
            </div>
        </div>
    <button type="submit" class="btn btn-primary">SavePersonne</button>      
</form>



{% endblock content %}