{% extends "jeux/base.html" %}
{% block content %}
    <h2>liste du personnel</h2>
    <table>
        <thead>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date</th>
        </thead>
        <tbody>
            {% for personne in personnes %}
                <tr>
                    <td>{{personne.nom}}</td>
                    <td>{{personne.prenom}}</td>
                    <td>{{personne.date_entr|date:'d/m/Y'}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
