{% extends "jeux/base.html" %}
{% load static %}
{% block content %}
    <h2>liste du personnel</h2>
      <form method="get">
            <div class="form-group row">
                <div class="col-md-4">
                    {{ filter.form.nom}}
                </div>
                <div class="col-md-4">
                    {{ filter.form.prenom}}
                </div>
                <div class="col-md-4">
                    {{ filter.form.genre}}
                </div>
            </div>
            <div class="row justify-content-center">
                <button type='submit' class='btn btn-secondary'>Search</button> 
            </div>
        </form>

    <button type="button" data-url="{% url 'jeux:add'%}" class="btn btn-primary show-form-js">Add</button>
    <table id ="personnes" class ="table table-bordered table-stripped table-sm">
        <thead>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Genre</th>
            <th>Date</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {% include 'jeux/listepers.html'%} 
        </tbody>
    </table>
<!-- The Modal -->
<div class="modal" id="modalpers" data-backdrop="static" >
  <div class="modal-dialog">
    <div class="modal-content" >
    </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'jeux/js/myjs.js'%}"></script>
{% endblock javascript %}
